.App {
    background-color: #fff;
    font-size: 0.9rem;
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 60px;
}

.App ul{
    display: flex;
    gap: 20px;
}