.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 60px;
}

.LoginForm h2 {
    font-weight: bold;
    font-size: 0.9rem;
    margin: 28px 0 12px 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 500px;
    align-self: center;
    width: 100%;
    margin-bottom: 10px;
}

.LoginForm input {
    font-size: 1rem;
    font-weight: 500;
    flex: 1;
    min-width: 0;
    height: 24px;
    border-bottom: 1px solid #aaaaaa9c;
}

.password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-password-button{
    color: var(--grey);
    font-size: 18px;
    padding-left: 16px;
}

.button_google{
    max-height: 48px;
    padding: 24px 16px;
}

.button_google img{
    background-color: white;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}